{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'warning', 'info', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <h1>Technical test project</h1>

    <p>Welcome! This project is a simple User CRUD</p>
    {% if is_granted('IS_AUTHENTICATED') %}
        <p>You're logged as {{ app.user.email }}</p>
        <p>Go to <a href="{{ url('app_user_index')}}">User index</a> to see all the users.</p>
        <p>Or go to <a href="{{ url('app_user_show', {id: app.user.id}) }}">profile</a> to check your user information.</p>
    {% endif %}
    <p>Created with:<br/>
        <ul>
            <li><a href="https://symfony.com/">Symfony 7.3</a></li>
            <li><a href="https://tabler.io">Tabler 1.3.2</a></li>
        </ul>
    </p>
{% endblock %}
