{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'warning', 'info', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>User index</h1>
    <div class="table-responsive-sm">
        <table class="table">
            <thead class="sticky-top">
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Profile</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.profile.getRoleName }}</td>
                    <td>
                        <a class="btn btn-link" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                        <a class="btn btn-link" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteUser{{ user.id }}Modal" >delete</button>
                        {{ include('user/_delete_modal.html.twig', { id: user.id, identifier: user.email }) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No users found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
